body{
    background-color:  #d4abd3;
    Font-family: Calibri;
    padding: 20px;
    
}

.menu{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 30px;
    padding-right: 30px;
    
}
.header{
    display: flex;
    flex-direction: row;
    gap: 150px;
    justify-content: space-between;
    background-color:#DFC5DE;
    padding: 20px;
    border-radius: 10px;
}


.discover-container, .caroussel{
    background-color: #998498;
    padding: 20px;
    border-radius: 10px;
}


.logo-size{
    width: 150px;
}
h1{
    color: #9E1915;
    font-size: 3em;
}
.discover{

    height: 100vh;
   
}
#title_best_movie{
    font-size: 2em;
    margin-bottom: 20px;
}
.img-movie img{
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    margin-bottom: 20px;
}
.play-movie button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.play-movie button:hover {
    background-color: #ff0000;
}

#summary_best_movie {
    font-size: 1.1em;
    max-width: 600px;
    line-height: 1.5;
}
.details-discover{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    align-items: center;
    }

#caroussel_container_best_7_movies, #caroussel_container_drama_movies , #caroussel_container_romance_movies, #caroussel_container_history_movies{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 50%;
    height: 80%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    z-index: 1000;
    padding: 5px 10px 10px 10px;
}

.modal-content {
    color: white;
    
   
}

.centered-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn{
    display: flex;
    justify-content: flex-end;
    font-size: 50px;
}

.container {
    width: 80%;
    
}


.movie-item{
    margin: 10px;
    text-align: center;
}


.movie-title{
    font-size: 20px;
    margin-bottom: 25px;
}

.title-movie-modal{
    margin: 5px 10px 5px 10px;
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
}

.carousel-slide {
    display: flex;
    align-items: center;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.movie-poster {
    flex: 0 0 calc(100% / 5);
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

.previous_btn {
    left: 0;
}

.next-btn {
    right: 0;
}